:root{

    --branco-principal:white; 
    --cinza-secundario: gray;
    --botao-azul:blue;
--cord-fundo: black;
}

body{

    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("Background.png");  
    
    background-size: contain;
    align-items: center;
    text-align: center;
}


.container__botao {
    background-color: var(--botao-azul);
    color:white;
    border-radius: 5px;
    display: block;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
margin-bottom: 1em;
}


.container{ height: 100vh; 
    display:grid;
    border-radius: 5px;
padding: 1em;
    grid-template-columns: 50% 50%;}

    .botao_secundario {
        background-color: transparent;
        background-color: transparent;
border: 2px solid var(--branco-principal);
        }


        .container__imagem {
            margin: 1em 0 2em 0;
            }

            .container__caixa{
                margin: 0 6em;
                }
